.blueBg{
	background: #107896 !important;
}

.redAid{
	color:#BF3126 !important;
}

.blueAid{
	color:#107896 !important;
}

.sign-up-body {
    width: 100% !important;
    height: 100%;
    position: absolute;
    background: url('../assets/bg-pattern.png'), linear-gradient(to left,#7b4397,#dc2430);
}

.activeCategory{
	background-color: #509CB2 !important;
	color:#fff !important;
}

.active{
	background-color: #509CB2 !important;
}
