<div class="ui fixed inverted menu blueBg">
  <div class="ui container">
    <!--
    <a href="#" class="header item">
      <img class="logo" src="assets/images/logo.png">
    </a>-->

    <a ui-sref="index" class="item">Explore</a>
    <a ui-sref="pending-services" class="item">Pending orders</a>
    <a ui-sref="done-services" class="item">Finished orders</a>
    <a ng-click="addEditService()" class="item">Add new</a>
  </div>
</div>



<div class="ui fixed labeled icon menu" style="margin-top: 40px; display: flex; justify-content: center;">


  <a class="item" style="border-left:1px solid #E8E9E9" ng-class="{'activeCategory':userFilter == undefined && categoryFilter == undefined}" ng-click="categoryFilter = undefined; userFilter = undefined">
    <i class="grid layout icon redAid"></i>
    All
  </a>


  <a class="item" ng-class="{'activeCategory':categoryFilter == 0}" ng-click="categoryFilter = 0; userFilter = undefined">
    <i class="home icon redAid"></i>
    House work
  </a>
  <a class="item" ng-class="{'activeCategory':categoryFilter == 1}" ng-click="categoryFilter = 1; userFilter = undefined">
    <i class="tree icon redAid"></i>
    Landscaping
  </a>
  <a class="item" ng-class="{'activeCategory':categoryFilter == 2}" ng-click="categoryFilter = 2; userFilter = undefined">
    <i class="comment outline icon redAid"></i>
    Socializing
  </a>
  <a class="item" ng-class="{'activeCategory':categoryFilter == 3}" ng-click="categoryFilter = 3; userFilter = undefined">
    <i class="food icon redAid"></i>
    Food
  </a>

  <a class="item" ng-class="{'activeCategory':categoryFilter == 4}" ng-click="categoryFilter = 4; userFilter = undefined">
    <i class="car icon redAid"></i>
    Transport
  </a>

  <a class="item" ng-class="{'activeCategory':userFilter == userId && categoryFilter == undefined}" ng-click="categoryFilter = undefined; userFilter = userId">
    <i class="user layout icon redAid"></i>
    My services
  </a>
</div>



<div class="ui grid">
  <div class="two wide column"></div>

  <div class="fourteen wide column">
    <div class="ui cards" style="width: 100%; margin-top: 90px;">
      <div class="card" ng-repeat="service in SYBServices  | filter: {ServiceType:categoryFilter, UserCreated:userFilter } track by $index ">
        <div class="content">
          {{service.id}}
          {{service.ServiceType}}
          <div class="right floated mini ui"><i class="{{getServiceTypeIcon(service.ServiceType)}}  icon redAid"></i></div>
          <div class="header blueAid" ng-bind="service.Name"></div>
          <div class="meta" ng-bind="service.Price + ' eth'"></div>
          <div class="description" ng-bind="service.Description | limitTo: 100"></div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div ng-if="!showEdit(service.UserCreated)" ng-click="buyService(service)" class="ui basic green button"><i class="bitcoin icon green"></i>Buy</div>
            <div ng-if="showEdit(service.UserCreated)" ng-click="addEditService(service.id)" class="ui basic green button"> <i class="edit icon green"></i>Edit</div>
            <div class="ui basic blue button" ng-click="readMore(service)"><i class="info icon blue"></i> Read more</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</div>



<div class="ui tiny modal showMore">
  <div class="header blueAid">{{selectedService.Name}} <i style="float:right" class="{{getServiceTypeIcon(selectedService.ServiceType)}}  icon redAid"></i> </div>
  <div class="content">
    <b ng-bind="selectedService.Price + ' eth'"></b>
    <br />
    <b><div class="ui star rating" data-rating="3" data-max-rating="5"></div> </b>
    <br />
    <b> Number of scores: {{selectedService.numOfScores}} </b>



    <div ng-bind="selectedService.Description"></div>
    <br />
    <button ng-if="!showEdit(selectedService.UserCreated)"   class="ui ok green button">Buy</button>
  </div>
</div>


<div class="ui tiny modal addService">
  <div class="header blueAid"><i class="add icon redAid"></i> Service  </div>
  <div class="content">
    <div ng-include="'../../views/add-service.html'"></div>
  </div>
</div>

