<div class="ui fixed inverted menu blueBg">
  <div class="ui container">
    <!--
    <a href="#" class="header item">
      <img class="logo" src="assets/images/logo.png">
    </a>-->

    <a href="#" class="item">Explore</a>
    <a href="#" class="item">Pending</a>
    <a href="#" class="item">Done</a>
    <a href="#" class="item">History</a>
    <a ng-click="addEditService()" class="item">Add new</a>
  </div>
</div>





<div class="ui grid" style="margin-top: 20px;">
  <div class="two wide column"></div>

  <div class="twelve wide column">
        <table class="ui celled padded table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Title</th>      
                </tr>        
            </thead>
            <tbody>
                <tr ng-repeat="service in pendingServices">
                    <td ng-bind='categoryName([service[1]])'></td>
                    <td ng-bind='service[2]'></td>
                    <td ng-bind='service[3]'></td>
                    <td ng-bind='service[7]'></td>
                </tr>
            </tbody>

        </table>

  </div>

  <div class="two wide column"></div>
</div>


