<div class="ui fixed inverted menu blueBg">
  <div class="ui container">
    <!--
    <a href="#" class="header item">
      <img class="logo" src="assets/images/logo.png">
    </a>-->

    <a href="#" class="item">Explore</a>
    <a href="#" class="item">Pending</a>
    <a href="#" class="item">Done</a>
    <a href="#" class="item">History</a>
    <a ng-click="addEditService()" class="item">Add new</a>
  </div>
</div>





<div class="ui grid">
  <div class="two wide column"></div>

  <div class="fourteen wide column">

  </div>
</div>
<div class="two wide column"></div>

